.box {
  display: flex;
  flex-wrap: wrap;
}

.box a {
  text-align: center;
  box-shadow: 0 2px 10x -2px rgba(0, 0, 0, 0.5);
  order: 1;
  display: block;
  padding: 8px 16px;
  margin-right: 4px;
  cursor: pointer;
  text-decoration: none;
}

.box a:hover {
  color: #000;
}

.box a:visited {
  color: #000;
}

.primary {
  background: #ffc107;
  color: #000;
}

.second {
  background: beige;
  color: #000;
}
