* {
  box-sizing: border-box;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 200; */
}
body {
  margin: 0;
  padding: 0;
}

.container h1,
h2,
p {
  text-shadow: 2px 2px 2px rgb(85, 80, 80);
}
a,
h1,
h2,
p {
  text-shadow: 2px 2px 2px #555050;
}

.admin-section {
  background: #fff;
  border-radius: 3px;
  padding-top: 3px;
}

.box a,
.pet-details p {
  text-shadow: none;
}
.action-cards {
  display: flex;
}
.wrapper {
  width: 25%;
  margin: 9rem auto;
}

.single-item {
  height: fit-content;
  bottom: -60vh;
  border-radius: 10px;
  box-shadow: 0 0 3px 2px;
}
.single-item,
.content {
  text-align: center;
}
img,
.content {
  transition: 0.7s all;
}

.single-item {
  float: left;
  max-width: 45%;
  position: relative;
  margin: 1rem 30%;
  overflow: hidden;
}

.single-item img {
  width: 150px;
  margin-bottom: -4px;
  height: 250px;
}

.single-item .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: #ffc102;
  opacity: 0;
  transform: translateY(100px);
}

.single-item .content h2 {
  padding-top: 95%;
  font-size: 1.5rem;
  color: transparent;
  -webkit-text-stroke: 1px #ffc102;
  color: transparent;
}

.single-item .content p {
  letter-spacing: 3px;
}

.single-item:hover .content {
  cursor: pointer;

  opacity: 1;
  transform: translateY(0);
}

.single-item:hover img {
  filter: blur(10px);
}

.welcome {
  position: relative;
  background: #9393930a;
  border-radius: 10px;
  margin: 0 25% 0 25%;
}

footer {
  /* overflow: hidden; */
  bottom: -50%;
}
.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 45% 45%;
  -webkit-background-size: cover;
  background-size: cover;
  animation: fade 16s infinite;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.6);
}

.banner-img:nth-child(1) {
  animation-name: fade;
  animation-delay: 12s;
}
.banner-img:nth-child(2) {
  animation-name: fade;
  animation-delay: 8s;
}
.banner-img:nth-child(3) {
  animation-name: fade;
  animation-delay: 4s;
}
.banner-img:nth-child(4) {
  animation-name: fade;
  animation-delay: 0s;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1380px) {
  footer {
    bottom: -55%;
  }
  .wrapper {
    width: 50%;
    margin: 9rem 3rem;
  }
}
@media (max-width: 1084px) {
  .wrapper {
    width: 60%;
    margin: 6rem 2rem;
  }
}
@media (max-width: 992px) {
  .wrapper {
    width: 65%;
    margin: 5rem 1rem;
  }
  footer {
    bottom: -70%;
  }
  .single-item {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .wrapper {
    margin: 1.5rem 1rem;
  }
  footer {
    bottom: -79%;
  }
  .single-item {
    max-width: 100%;
    margin: 1rem 25%;
  }
}
@media (max-width: 576px) {
  .wrapper {
    width: 65%;
    margin: 0.5rem 1rem;
  }
  footer {
    bottom: -80%;
  }
  .single-item {
    max-width: 100%;
    margin: 1rem 20%;
  }
}
@media (max-width: 498px) {
  footer {
    bottom: -88%;
  }
  .single-item {
    max-width: 100%;
    margin: 1rem 15%;
  }
}
