a {
  outline: none;
  color: #fff;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #fff;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

a:focus {
  text-decoration: none;
  background: #ffc107;
}

a:hover {
  text-decoration: none;
  color: #000;
}

a:active {
  color: #ffc107;
}

.main-navbar {
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.6);
}

.main-navbar a,
h1,
h2 {
  text-shadow: 2px 2px 2px #555050;
}
